@font-face {
    font-family: head;
    src: url(static/Raleway-Bold.ttf);
}
h1 {
    font-family: head;
    color: #18020c;
    text-align: center;
}
@font-face {
    font-family: caption;
    src: url(static/Raleway-Italic.ttf);
}
.Store {
font-family: caption;
font-size: 80%;
color: #18020c;
}
@font-face {
    font-family: para;
    src: url(static/Raleway-SemiBold.ttf);
}

@font-face {
    font-family: link;
    src: url(static/Raleway-Regular.ttf);
}
ul {
    color: #461600;
}
img {
    padding-left:  25px;
    padding-right: 15px;
    padding-top: 20px;
    padding-bottom: 25px;
}
a { 
font-family: link;
color: #A5402D;
text-decoration-line: none ;

}

a:hover {
    color:#4d6ec7;
}
a:focus {
    color:#18020c;
}
p {
    color: #A5402D;
    font-family: para;
    text-transform: inherit;
    text-justify: kashida
    ;
}

@font-face {
    font-family: timing;
    src: url(static/Raleway-MediumItalic.ttf);
}


dl {
    line-height: 175%;
}

dt {
    font-family:timing ;
    color: #461600;
}

dd {
    font-family: timing;
    color: #461600;
}

.copy {
    color: black;
}